.heading {
    font-family: Lovelace;
    color: #333333;
}

.heading_1 {
    font-weight: 300;
    font-size: 48px;
}

.heading_2 {
    font-weight: 400;
    font-size: 32px;
}

.heading_3 {
    font-weight: 500;
    font-size: 24px;
}

.text {
    font-family: Neris;
    color: #000000;
}

.text_white {
    font-family: Neris;
    color: #ffffff;
}

.text_400 {
    font-weight: 400;
    font-size: 14px;
}

.text_500 {
    font-weight: 500;
    font-size: 24px;
}

.text_600 {
    font-weight: 600;
    font-size: 14px;
}