.footer {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
    padding: 22px 44px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
}

@media (min-width: 780px) {
    .footer {
        display: none;
    }
}

@media (max-width: 400px) {
    .footer {
        padding: 16px 32px;
    }
}

.footer_item {
    display: flex;
}

.footer_item_list {
    margin-left: 15px;
}

.favourites {
    position: relative;
}

.ellipse_footer {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #B61714;
    border-radius: 50%;
    right: 0;
    top: 0;
    transform: translate(12px, -6px);
}

.text_footer {
    margin-left: 14px;
}

@media (max-width: 400px) {
    .text_footer {
        display: none;
    }
}