
.header_tablet_wrapper {
    display: none;
}

@media (max-width: 780px) {
    .header_tablet_wrapper {
        display: block;
    }
}

.header_tablet {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 12px 44px;
    position: sticky;
    top: 11px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
}

@media (max-width: 400px) {
    .header_tablet {
        top: 0;;
        padding: 12px 16px;
    }
}

.magnifier_tablet {
    margin-right: 56px;
}

@media (max-width: 400px) {
    .magnifier_tablet {
        margin-right: 35px;
    }
}

.menu_tablet {
    margin-top: 116px;
}

.menu_list_tablet {
    list-style-type: none;
}

.menu_list_item_tablet {
    margin-top: 48px;
    text-align: center;
}

.text_500 {
    font-size: 24px;
    line-height: 33px;
}

.band_wrapper {
    color: #333333;
    padding: 68px 220px;
    height: 1px;
}

@media (max-width: 400px) {
    .band_wrapper {
        color: #333333;
        padding: 55px 0px 24px;
        height: 1px;
    }
}

.band {
    width: 100%;
}

.contacts_tablet {
    margin: auto;
    display: grid;
    gap: 20px;
    text-align: center;
}

.text_contact {
    font-size: 16px;
}

.insta {
    width: 32px;
    height: 32px;
    margin: 32px auto 0;
}

@media (max-width: 400px) {
    .insta {
        display: none;
    }
}