.header_desktop {
    background-color: #ffffff;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
}

@media (max-width: 780px) {
    .header_desktop {
        display: none;
    }
}

.contacts_header {
    background-color: #333333;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 7px 210px 10px;
}

.header {
    padding: 28px 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: center;
}

.menu_list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_list_item {
    margin-right: 32px;
    display: flex;
    align-items: flex-start;
}

.menu_list_item:last-child {
    margin-right: 0;
}

.galka {
    margin-left: 8px;
    transform: translateY(-1px);
}

.user_corner {
    display: flex;
}

.user_corner_item {
    margin-right: 48px;
}

.user_corner_item:last-child {
    margin-right: 0;
}

.search_wrapper {
    display: flex;

}

.magnifier {
    margin-right: 20px;
}

.search {
    border: none;
    border-bottom: solid 1px;
    opacity: 50%;
    outline: none;
}


.favourites_wrapper {
    position: relative;
}

.ellipse {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #B61714;
    border-radius: 50%;
    right: 0;
    top: 0;
    transform: translate(6px, -6px);
}