
.UI-text{
    font-family: Neris;
}

.primary{
    color: #000000;
}

.secondary{
    color: #FFFFFF;
}

.fw_300{
    font-weight: 300;
}

.fw_400{
    font-weight: 400;
}

.fw_600{
    font-weight: 600;
}

.fs_12{
    font-size: 12px;
}

.fs_14{
    font-size: 14px;
}

.fs_16{
    font-size: 16px;
}

.fStyle{
    font-style: italic;
}